#___id_{
    
}

body
{
    background-color: #ffffff;
    background-image: url('___splashurl_');
    background-size: cover;
    background-position: center;
}

body > .grid {

    height: 100%;
}

.column {

    max-width: 450px;
    margin-top: 150px;
}

.systeminfo
{
    color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: .8em;
    padding: 5px;
    background-color: rgba(00, 00, 00, .6);
}